body{
    background-size:cover;
    background-position:center;
}

a{
    font-size: 25px;
    background: white;
    border-radius: 200px;
    width: 150px;
    margin-top: 15px;
}

h1{
    color:white;
}